@-webkit-keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(0.2);
                transform: scale(0.2);
        opacity: 0.8;
      }
      80% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        opacity: 0.2;
      }
      100% {
        -webkit-transform: scale(2.2);
                transform: scale(2.2);
        opacity: 0;
      }
    }
  @keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(0.2);
                transform: scale(0.2);
        opacity: 0.8;
      }
      80% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        opacity: 0.2;
      }
      100% {
        -webkit-transform: scale(2.2);
                transform: scale(2.2);
        opacity: 0;
      }
    }

body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #fff;   
}

/* couleur surlignage texte*/
/* pour Firefox */
::-moz-selection {
    background-color: #CF2E87;
    color: #fff;
}

/* pour Safari et Chrome */
::selection {
    background-color: #CF2E87;
    color: #fff;
}

:root {
    --main-font-color: #37474F;
    --secondary-font-color: white;
    --main-bg-gradient: linear-gradient(90deg, rgba(6, 3, 66, 1) 0%, rgba(35, 88, 168, 1) 44%, rgba(0, 180, 216, 1) 100%);
    --secondary-bg-gradient: linear-gradient(90deg, #30cfd0 0%, #330867 100%);
    --third-bg-gradient: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    --MPA-bg-gradient: linear-gradient(90deg, rgba(156,31,91,1) 0%, rgba(242,76,78,1) 47%, rgba(242,76,126,1) 100%);
    --secondary-font-family: 'krub', sans-serif;
    --main-border-radus: 15px;
}

/* _____________Header______________ */

.Header {
    transform: translateY(-0.5vh);
    display: flex;
    height: 19vw;
    flex-direction: row;
    justify-content: center;
    color: var(--secondary-font-color);
    background: var(--main-bg-gradient);
}

.HeaderImg {
    width: 37vw;
    height: 25vw;
    border-radius: var(--main-border-radus);
    margin-right: 5vw;
    transform: translateY(3vh);
    object-fit: cover;
}

.HeaderInfo {
    width: 45vw;
}

.HeaderInfoTitle {
    font-size: 3vw;
    margin-bottom: 0px;
}

.HeaderInfoText {
    font-size: 1.2vw;
    width: 35vw;
    margin-top: 0.7vw;
    margin-bottom: 1.5vw;
}

.HeaderInfoMore {
    background-color: white;
    color: var(--main-font-color);
    padding: 0.5vw 1.5vw;
    border-radius: var(--main-border-radus);
    border: none;
    font-size: 0.8vw;
    font-weight: 600;
    font-style: italic;
    font-family: var(--secondary-font-family);
    position: relative;
}

.HeaderInfoMore::after {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--main-border-radus);
    background: #ffffff46;
    transition: width 0.3s;
    -webkit-animation: pulsate-bck 2s infinite ;
	        animation: pulsate-bck 2s infinite ;
}

@media screen and (max-width: 900px) {
    .Header {
        transform: translateY(-0.5vh);
        height: 25vw;
    }

    .HeaderImg {
        transform: translateY(3vh);
        width: 45vw;
        height: 25vw;
        margin-bottom: 1vh;
    }

    .HeaderInfo {
        transform: translateY(2vh);
    }

    .HeaderInfoTitle {
        font-size: 3.3vw;
    }

    .HeaderInfoText {
        margin-bottom: 1.7vh;
        font-size: 1.6vw;
    }

    .HeaderInfoMore {
        font-size: 1.2vw;
        padding: 0.5vh 1vw;
        border-radius: 6px;
    }

    .HeaderInfoMore::after {
        border-radius: 6px;
    }
}

@media screen and (max-width: 430px) {
    .Header {
        height: 70vh;
        flex-direction: column;
        align-items: center;
        position: relative;
        justify-content: flex-start
    }

    .HeaderImg {
        width: 86vw;
        height: 70vw;
        margin-bottom: 1vh;
        margin-right: 0px;
        margin-top: 5vw;
        transform: translateY(0vh);
    }

    .HeaderInfo {
        transform: translateY(0vh);
        width: 87vw;
    }

    .HeaderInfoTitle {
        font-size: 8vw;
    }

    .HeaderInfoText {
        margin-bottom: 1.7vh;
        font-size: 4vw;
        width: 80vw;
        margin-top: 1.5vh;
        margin-bottom: 5vh;
    }

    .HeaderInfoMore {
        position: absolute;
        font-size: 3.5vw;
        padding: 1vh 6vw;
        border-radius: 5px;
        right: 2vw;
    }
}

/* _____________SectionNav______________ */

.SectionNav {
    margin-top: 20vh;
    margin-bottom: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SectionHeader {
    color: var(--main-font-color);
    font-family: var(--secondary-font-family);
}

.SectionTitle {
    font-size: 3vw;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.5vw;
}

.SectionText {
    font-size: 1.5vw;
    margin-top: 0;
    text-align: center;
}

.SectionNavMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SectionNavImgLeft {
    width: 85vw;
    height: 15vw;
    transform: translateX(-5vw);
}

.SectionNavImgRight {
    width: 85vw;
    height: 15vw;
    transform: translateX(5vw);
}

.SectionNavCard {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 70vw;
    z-index: 999;
}

.SectionNavCardLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(6vw);
}

.SectionNavCardLinkImg {
    width: 16vw;
    height: 20vw;
    object-fit: cover;
    border-radius: var(--main-border-radus);
}

.SectionNavCardLinkTitle {
    color: var(--secondary-font-color);
    margin-top: 1vw;
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 500;
}

@media screen and (max-width: 900px) {
    .SectionNav {
        margin-top: 8vh;
    }

    .SectionTitle {
        font-size: 4vw;
    }

    .SectionText {
        font-size: 2
    }

    .SectionNavCardLinkTitle {
        font-size: 1.5vw;
    }

    .SectionNavImgRight {
        height: 17vw;
    }
}

@media screen and (max-width: 430px) {

    .SectionNavMain {
        height: 150vw;
    }

    .SectionTitle {
        font-size: 8vw;
    }

    .SectionText {
        font-size: 4vw;
        width: 80vw;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .SectionNavImgRight,
    .SectionNavImgLeft {
        display: none;
    }

    .SectionNavCard {
        margin-top: 9vw;
        flex-direction: column;
        background: var(--main-bg-gradient);
        border-radius: var(--main-border-radus);
        align-items: flex-end;
        height: 62vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
        transform: translateX(-50%);
    }

    .SectionNavCardLinkImg {
        width: 50vw;
        height: 30vw;
    }

    .SectionNavCardLink {
        background-color: var(--secondary-font-color);
        border-radius: var(--main-border-radus);
        width: 50vw;
        height: 35vw;
        padding: 1vw;
        transform: translateY(0vw);
        transform: translateX(50%);
    }

    .SectionNavCardLinkTitle {
        color: var(--main-font-color);
        font-size: 2.5vw;
    }
}

/* _____________Section-Pmr______________ */

/* No Reversing */
.SectionMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 11vw;
}

.SectionMainCard {
    display: flex;
    flex-direction: column;
    background: var(--main-bg-gradient);
    width: 65vw;
    border-radius: var(--main-border-radus);
    margin-top: 10vw;
    color: var(--secondary-font-color);
    transform: translateX(7vw);
}

/* Reversing */
.SectionMainCardReversing {
    display: flex;
    flex-direction: column;
    background: var(--main-bg-gradient);
    width: 65vw;
    border-radius: var(--main-border-radus);
    margin-top: 10vw;
    color: var(--secondary-font-color);
    transform: translateX(-7vw);
}

/* No Reversing */
.SectionMainCardImgInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Reversing */
.SectionMainCardImgInfoReversing {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

/* No Reversing */
.SectionMainCardImg {
    border-radius: var(--main-border-radus);
    max-width: 35vw;
    height: 28vw;
    object-fit: cover;
    transform: translate(-5vw, -4vw);
}

/* Reversing */
.SectionMainCardImgReversing {
    border-radius: var(--main-border-radus);
    max-width: 35vw;
    height: 28vw;
    object-fit: cover;
    transform: translate(5vw, -4vw);
}

/* No Reversing */
.SectionMainCardInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-right: 2vw;
}

/* Reversing */
.SectionMainCardInfoReversing {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 2vw;
}

/* No Reversing */
.SectionMainCardInfoTitle {
    font-size: 2.2vw;
    margin: 0;
    margin-bottom: 1.5vw;
}

.SectionMainCardInfoText {
    font-size: 1.2vw;
}

.SectionMainCardPriceLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3vw;
    padding: 0vw 0 2vw 0;
}

/* Reversing */
.SectionMainCardPriceLinkReversing {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 3vw;
    padding: 0vw 0 2vw 0;
}

/* No Reversing */
.SectionMainCardInfoLink {
    background-color: var(--secondary-font-color);
    color: var(--main-font-color);
    padding: 0.5vw 1.5vw;
    border-radius: var(--main-border-radus);
    border: none;
    font-size: 0.8vw;
    font-weight: 600;
    font-style: italic;
    font-family: var(--secondary-font-family);
    position: relative;
}

.SectionMainCardInfoLink::after {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--main-border-radus);
    background: #ffffff6c;
    transition: width 0.3s;
    -webkit-animation: pulsate-bck 2s infinite ;
	        animation: pulsate-bck 2s infinite ;
}

.SectionMainCardPrice {
    font-family: var(--secondary-font-family);
    font-style: italic;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5vw;

}

@media screen and (max-width: 900px) {

    .SectionMainCard,
    .SectionMainCardReversing {
        transform: translateX(0);
        width: 82vw;
    }

    /* all*/
    .SectionMainCardInfoLink {
        font-size: 1.5vw;
        padding: 0.5vh 1vw;
        border-radius: 6px;
    }

    .SectionMainCardPrice {
        font-size: 2vw;
    }

    .SectionMainCardInfoLink::after{
        border-radius: 6px;
    }

    /* No Reversing */
    /* Reversing */
    .SectionMainCardInfo,
    .SectionMainCardInfoReversing {
        margin-right: 5.2vw;
    }
}

@media screen and (max-width: 430px) {

    /* __________________all__________________max-width: 430px__ */

    .SectionTitle {
        margin: 0vw 5vw;
        margin-top: 10vw;
    }


    /* No Reversing */
    /* Reversing */
    .SectionMainCard,
    .SectionMainCardReversing {
        width: 100vw;
        height: 150vw;
        border-radius: 5px;
        transform: translateX(0vw);
        justify-content: space-around;
        margin-top: 45vw;
    }

    /* Reversing */
    .SectionMainCardReversing {
        width: 100vw;
        height: 150vw;
        border-radius: 5px;
        transform: translateX(0vw);
        justify-content: space-around;
    }

    /* No Reversing */
    /* Reversing */
    .SectionMainCardImgInfo,
    .SectionMainCardImgInfoReversing {
        flex-direction: column
    }

    /* No Reversing */
    /* Reversing */
    .SectionMainCardImg,
    .SectionMainCardImgReversing {
        border-radius: 5px;
        min-width: 80vw;
        min-height: 60vw;
        transform: translate(-0vw, -30vw);
    }

    /* No Reversing */
    .SectionMainCardInfo {
        margin-right: 7vw;
        margin-left: 7vw;
        margin-top: 2vw;
        transform: translate(-0vw, -20vw);
    }

    /* Reversing */
    .SectionMainCardInfoReversing {
        margin-right: 7vw;
        margin-left: 7vw;
        transform: translate(-0vw, -20vw);
    }

    /* all*/
    .SectionMainCardInfoTitle {
        font-size: 8vw !important;
        font-style: italic;
        margin-bottom: 1vw;
    }

    /* all*/
    .SectionMainCardInfoText {
        font-size: 4vw !important;
    }

    /* No Reversing */
    .SectionMainCardPriceLink {
        margin-right: 7.5vw;
        margin-left: 7.5vw;
        transform: translate(-0vw, -9vw);
    }

    /* Reversing */
    .SectionMainCardPriceLinkReversing {
        margin-right: 7.5vw;
        margin-left: 7.5vw;
        transform: translate(-0vw, -9vw);
    }

    /* all*/
    .SectionMainCardPrice {
        font-size: 4.3vw;
    }

    /* all*/
    .SectionMainCardInfoLink {
        font-size: 3.5vw;
        padding: 0.8vh 5vw;
        border-radius: 5px;
    }
}

/* _____________Section-Elec______________ */
/* No Reversing */
.SectionMainCardElec {
    display: flex;
    flex-direction: column;
    background: var(--secondary-bg-gradient);
    width: 65vw;
    height: 25vw;
    border-radius: var(--main-border-radus);
    margin-bottom: 6vw;
    margin-top: 7vw;
    color: var(--secondary-font-color);
    transform: translateX(-5vw);
}

/* Reversing */
.SectionMainCardElecReversing {
    display: flex;
    flex-direction: column;
    background: var(--secondary-bg-gradient);
    width: 65vw;
    height: 25vw;
    border-radius: var(--main-border-radus);
    margin-top: 10vw;
    margin-bottom: 10vw;
    color: var(--secondary-font-color);
    transform: translateX(5vw);
}

/* No Reversing */
.SectionMainCardElecImgInfo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 3vw;
    z-index: 99;
}

/* Reversing */
.SectionMainCardElecImgInfoReversing {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 3vw;
    z-index: 99;
}

/* No Reversing */
.SectionMainCardElecImg {
    border-radius: var(--main-border-radus);
    min-width: 35vw;
    height: 28vw;
    object-fit: cover;
    transform: translate(-5vw, 4vw);
}

/* Reversing */
.SectionMainCardElecImgReversing {
    border-radius: var(--main-border-radus);
    min-width: 35vw;
    height: 28vw;
    object-fit: cover;
    transform: translate(5vw, 4vw);
}

/* No Reversing */
.SectionMainCardElecInfoLink {
    background-color: var(--secondary-font-color);
    color: var(--main-font-color);
    padding: 0.5vw 1.5vw;
    border-radius: var(--main-border-radus);
    border: none;
    font-size: 0.8vw;
    font-weight: 600;
    font-style: italic;
    font-family: var(--secondary-font-family);
    position: absolute;
    left: -3.5vw;
    bottom: -9vw;
    z-index: 999;
}

.SectionMainCardElecInfoLink::after, .SectionMainCardElecInfoLinkReversing::after{
    z-index: -99;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--main-border-radus);
    background: #ffffff;
    transition: width 0.3s;
    -webkit-animation: pulsate-bck 2s infinite ;
            animation: pulsate-bck 2s infinite ;

}

/* Reversing */
.SectionMainCardElecInfoLinkReversing {
    background-color: var(--secondary-font-color);
    color: var(--main-font-color);
    padding: 0.5vw 1.5vw;
    border-radius: var(--main-border-radus);
    border: none;
    font-size: 0.8vw;
    font-weight: 600;
    font-style: italic;
    font-family: var(--secondary-font-family);
    position: absolute;
    right: -3.5vw;
    bottom: -9vw;
    z-index: 999;
}

/* No Reversing */
.SectionMainCardElecPrice {
    font-family: var(--secondary-font-family);
    font-style: italic;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5vw;
    background: var(--secondary-bg-gradient);
    border-radius: var(--main-border-radus);
    width: 50vw;
    padding: 1.2vw 4vw;
    text-align: right;
    transform: translateY(-5vw);
}

/* Reversing */
.SectionMainCardElecPriceReversing {
    font-family: var(--secondary-font-family);
    font-style: italic;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5vw;
    background: var(--secondary-bg-gradient);
    border-radius: var(--main-border-radus);
    width: 50vw;
    padding: 1.2vw 4vw;
    text-align: left;
    transform: translate(6vw, -5vw);
}

@media screen and (max-width: 900px) {

    /* No Reversing */
    .SectionMainCardElec {
        width: 75vw;
        height: 26vw;
        border-radius: 5px;
        transform: translateX(-1vw);
    }

    /* Reversing */
    .SectionMainCardElecReversing {
        align-items: flex-end;
        width: 75vw;
        height: 26vw;
        border-radius: 5px;
        transform: translateX(1vw);
    }

    /* No Reversing */
    /* Reversing */
    .SectionMainCardElecPrice,
    .SectionMainCardElecPriceReversing {
        font-size: 2vw;
        transform: translateY(-3vw);
    }

    /* No Reversing */
    /* Reversing */
    .SectionMainCardElecInfoLink,
    .SectionMainCardElecInfoLinkReversing {
        border-radius: 5px;
        font-size: 1.3vw;
        bottom: -7.5vw;
    }

    .SectionMainCardElecInfoLink::after, .SectionMainCardElecInfoLinkReversing::after{
        border-radius: 5px;
    }

    .SectionMainCardInfoTitle {
        font-size: 2.5vw;
        margin-bottom: 0;
    }

    .SectionMainCardInfoText {
        font-size: 1.5vw;
    }

    /* all*/
}

@media screen and (max-width: 430px) {

    /* No Reversing */
    /* Reversing */
    .SectionMainCardElec,
    .SectionMainCardElecReversing {
        width: 100vw;
        height: 140vw;
        border-radius: 5px;
        transform: translateX(0vw);
        justify-content: space-around;
        margin-top: 40vw;
    }

    /* No Reversing */
    /* Reversing */
    .SectionMainCardElecImgInfo,
    .SectionMainCardElecImgInfoReversing {
        flex-direction: column
    }

    /* No Reversing */
    /* Reversing */
    .SectionMainCardElecImg,
    .SectionMainCardElecImgReversing {
        border-radius: 5px;
        min-width: 80vw;
        min-height: 60vw;
        transform: translate(-50%, -30vw);
        margin-left: 50%;
    }

    /* No Reversing */
    /* Reversing */
    .SectionMainCardElecPriceLink,
    .SectionMainCardElecPriceLinkReversing {
        margin-right: 7.5vw;
        margin-left: 7.5vw;
        transform: translate(-0vw, -9vw);
    }

    /* No Reversing */
    /* Reversing */
    .SectionMainCardElecPrice,
    .SectionMainCardElecPriceReversing {
        background: none;
        font-size: 4.5vw;
        transform: translateY(-10vw);
        margin-left: 4vw;
        text-align: left;
    }

    /* No Reversing */
    .SectionMainCardElecInfoLink {
        bottom: 11.5vw;
        padding: 2vw 4vw;
        font-size: 3.5vw;
        padding: 0.8vh 5vw;
        border-radius: 5px;
        margin-left: 66%;
    }

    /* Reversing */
    .SectionMainCardElecInfoLinkReversing {
        bottom: 11.5vw;
        right: 60vw;
        font-size: 3.5vw;
        padding: 0.8vh 5vw;
        border-radius: 5px;
    }
}

/* SectionMainCardPlomberie */

.SectionMainCardPlomberie {
    background: var(--third-bg-gradient);
    display: flex;
    flex-direction: column;
    width: 65vw;
    border-radius: var(--main-border-radus);
    margin-top: 10vw;
    color: var(--secondary-font-color);
    transform: translateX(7vw);
}

@media screen and (max-width: 900px) {
    .SectionMainCardPlomberie {
        width: 72vw;
        transform: translateX(0);
    }
}

@media screen and (max-width: 430px) {
    .SectionMainCardPlomberie {
        width: 100vw;
        height: 130vw;
        border-radius: 5px;
        justify-content: space-around;
        margin-top: 45vw;
    }
}

/* Section Map */

.SectionMapCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 10vw;
    margin-left: 0vw;
}

.SectionMapCardImg {
    transform: translateX(10vw);
    border-radius: 20px;
    width: 60vw;
    height: 35vw;
}

.SectionMapCardHoraire {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-right: 5vw;
    padding-left: 13vw;
    background: var(--main-bg-gradient);
    color: var(--secondary-font-color);
    border-radius: var(--main-border-radus);
    width: 60vw;
    height: 40vw;
}

.SectionMapCardHoraireTitle {
    font-size: 2vw;
    margin-bottom: 0.6vw;
    margin-top: 0;
}

.SectionMapCardHoraireText {
    font-size: 1.4vw;
}

.SectionMapCardHoraireTableTitle {
    font-size: 1.4vw;
    margin-bottom: 0.3vw;
    margin-top: 4vw;
}

.SectionMapCardHoraireTableListe {
    list-style: none;
    font-size: 1vw;
    padding: 0;
}

.SectionMapCardInfoLink {
    background-color: var(--secondary-font-color);
    color: var(--main-font-color);
    padding: 0.5vw 2vw;
    margin-top: 1vw;
    border-radius: var(--main-border-radus);
    border: none;
    font-size: 1.4vw;
    font-weight: 600;
    font-style: italic;
    font-family: var(--secondary-font-family);
}

@media screen and (max-width: 900px) {
    .SectionMapCard {
        margin-right: 7vw;
    }

    .SectionMapCardImg {
        transform: translateX(8vw);
        width: 60vw;

    }

    .SectionMapCardHoraire {
        padding-right: 2vw;
        padding-left: 8vw;
        width: 80vw;
        height: 50vw;
    }

    .SectionMapCardHoraireTitle {
        font-size: 2.5vw;
        margin-bottom: 0.6vw;
        margin-top: 0;
    }

    .SectionMapCardHoraireText {
        font-size: 2vw;
    }

    .SectionMapCardHoraireTableTitle {
        font-size: 1.7vw;
        margin-bottom: 0.3vw;
        margin-top: 3vw;
    }

    .SectionMapCardHoraireTableListe {
        list-style: none;
        font-size: 1.4vw;
        padding: 0;
        margin-bottom: 2vw;
    }

    .SectionMapCardInfoLink {
        border-radius: 5px;
        font-size: 1.6vw;
    }

    li {
        padding-bottom: 0 !important;
    }
}

@media screen and (max-width: 430px) {

    .SectionMapCard {
        flex-direction: column;
        margin-right: 0;
        margin-top: 0vw;
    }

    .SectionMapCardImg {
        transform: translateX(0vw);
        transform: translateY(10vw);
        width: 80vw;
        height: 50vw;
    }

    .SectionMapCardHoraire {
        padding-right: 0vw;
        padding-left: 0vw;
        width: 95vw;
        height: 100vw;
    }

    .SectionMapCardHoraireTitle {
        font-size: 6vw;
        margin-bottom: 0.6vw;
    }

    .SectionMapCardHoraireText {
        font-size: 4.5vw;
    }

    .SectionMapCardHoraireTableTitle {
        font-size: 4vw;
        margin-bottom: 0.3vw;
        margin-top: 7vw;
    }

    .SectionMapCardHoraireTableListe {
        list-style: none;
        font-size: 3vw;
        margin-bottom: 6vw;
    }

    .SectionMapCardInfoLink {
        border-radius: 5px;
        font-size: 4vw;
        padding: 0.8vw 6vw;
    }
}